@using PrimerWebUdemy.Models
@model ClienteCLS
@{
    ViewBag.Title = "ClienteAgregar";
    List<SelectListItem> listaSexo = (List<SelectListItem>) ViewBag.lista;
}

<h2>Cliente Agregar</h2>

<div class="container">

    <div class="row">

        <div class="col-md-6">

            @using (Html.BeginForm("ClienteAgregar", "Cliente", FormMethod.Post, new { @id = "frmCliente" }))
            {

                <div>
                    @Html.LabelFor(p => p.nombre)
                    @Html.TextBoxFor(p => p.nombre, new { @class = "form-control" })
                    @Html.ValidationMessage("nombre", new { @class = "text-danger" })
                    @if (Model != null && Model.mensajeError != null)
                    {
                        @Html.Label(Model.mensajeError, new { @class = "text-danger" })
                    }
                </div>

                <div>
                    @Html.LabelFor(p => p.apPaterno)
                    @Html.TextBoxFor(p => p.apPaterno, new { @class = "form-control" })
                    @Html.ValidationMessage("apPaterno", new { @class = "text-danger" })
                </div>

                <div>
                    @Html.LabelFor(p => p.apMaterno)
                    @Html.TextBoxFor(p => p.apMaterno, new { @class = "form-control" })
                    @Html.ValidationMessage("apMaterno", new { @class = "text-danger" })
                </div>

                <div>
                    @Html.LabelFor(p => p.email)
                    @Html.TextBoxFor(p => p.email, new { @class = "form-control" })
                    @Html.ValidationMessage("email", new { @class = "text-danger" })
                </div>

                <div>
                    @Html.LabelFor(p => p.direccion)
                    @Html.TextAreaFor(p => p.direccion, new { @class = "form-control" } )
                    @Html.ValidationMessage("direccion", new { @class = "text-danger" })
                </div>

                <div>
                    @Html.LabelFor(p => p.iidsexo)
                    @Html.DropDownList("iidsexo", listaSexo, null, new { @class="form-control"})
                    @Html.ValidationMessage("iidsexo", new { @class = "text-danger" })
                </div>

                <div>
                    @Html.LabelFor(p => p.telefonoFijo)
                    @Html.TextBoxFor(p => p.telefonoFijo, new { @class = "form-control" })
                    @Html.ValidationMessage("telefonoFijo", new { @class = "text-danger" })
                </div>

                <div>
                    @Html.LabelFor(p => p.telefonoCelular)
                    @Html.TextBoxFor(p => p.telefonoCelular, new { @class = "form-control" })
                    @Html.ValidationMessage("telefonoCelular", new { @class = "text-danger" })
                </div>

                <div style="margin:auto;">
                    <input type="submit" value="Guardar" class="btn btn-success"  />
                    @Html.ActionLink("Cancelar", "ClienteView", "Cliente", null, new {@class="btn btn-danger" });
                </div>

            }


        </div>

    </div>
</div>

<script>
    var frmSucursal = document.getElementById("frmCliente");
    frmSucursal.onsubmit = function (e) {
        e.preventDefault();

        if(confirm("¿Estas seguro de agregar una nuevo cliente?") == 1){
            frmSucursal.submit();
        }
    }
</script>

