@using PrimerWebUdemy.Models;
@model SucursalCLS
@{
    ViewBag.Title = "SucursalAgregar";
}

<h2>SucursalAgregar</h2>

<div class="container">

    <div class="row">


        <div>

            @using (Html.BeginForm("SucursalAgregar", "Sucursal", FormMethod.Post, new { @id = "frmSucursal" }))
            {
                <div>
                    @Html.LabelFor(d => d.nombre)
                    @Html.TextBoxFor(d => d.nombre, new { @class = "form-control" })
                    @Html.ValidationMessage("nombre", new { @class = "text-danger" })
                    @if (Model != null && Model.mensajeError != null)
                    {
                        @Html.Label(Model.mensajeError, new { @class = "text-danger" });
                    }
                </div>

                <div>
                    @Html.LabelFor(d => d.direccion)
                    @Html.TextBoxFor(d => d.direccion, new { @class = "form-control" })
                    @Html.ValidationMessage("direccion", new { @class = "text-danger" })
                </div>

                <div>
                    @Html.LabelFor(d => d.telefono)
                    @Html.TextBoxFor(d => d.telefono, new { @class = "form-control" })
                    @Html.ValidationMessage("telefono", new { @class = "text-danger" })
                </div>

                <div>
                    @Html.LabelFor(d => d.email)
                    @Html.TextBoxFor(d => d.email, new { @class = "form-control" })
                    @Html.ValidationMessage("email", new { @class = "text-danger" })
                </div>

                <div>
                    @Html.LabelFor(d => d.fechaApertura)
                    @Html.EditorFor(d => d.fechaApertura, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessage("fechaApertura", new { @class = "text-danger" })
                </div>

                <div style="margin:auto;">
                    <input type="submit" value="Agregar" class="btn btn-success" />
                    @Html.ActionLink("Cancelar", "SucursalView", "Sucursal", null, new { @class = "btn btn-danger" });
                </div>

            }

        </div>


    </div>
</div>

<script>
    var frmSucursal = document.getElementById("frmSucursal");
    frmSucursal.onsubmit = function (e) {
        e.preventDefault();

        if(confirm("¿Estas seguro de agregar una nueva sucursal?") == 1){
            frmSucursal.submit();
        }
    }
</script>

