@model List<PrimerWebUdemy.Models.TipoUsuarioCLS>

@{
    ViewBag.Title = "TipoUsuarioView";
}

<h2>TipoUsuarioView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("TipoUsuarioView", "TipoUsuario", FormMethod.Post, new { @id = "frmBusqueda" }))
{

    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model[0].iidTipoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[1].nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model[2].descripcion)
            </th>

            <th>Operaciones</th>
        </tr>
        <tr>
            <td>@Html.TextBox("iidTipoUsuario", null, new { @class = "form-control" })</td>
            <td>@Html.TextBox("nombre", null, new { @class = "form-control" })</td>
            <td>@Html.TextBox("descripcion", null, new { @class = "form-control" })</td>
            <td></td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.iidTipoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>

                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }

    </table>

}
